<div id="left-side-panel" class="left-side-panel">
  <Item::Link
    @id="home-link"
    @linkRoute="index"
    @isSvgImg={{true}}
    @imgSrc="assets/svg/home-icon.svg"
    @imgAlt="Home icon"
    @imgWidth="16"
  />

  <Item::Link
    @id="search-link"
    @linkRoute="search"
    @isSvgImg={{true}}
    @imgSrc="assets/svg/search-icon.svg"
    @imgAlt="Search icon"
    @imgWidth="16"
  />

  <Item::Link
    @id="profile-link"
    @linkRoute="profile"
    @imgSrc="assets/png/profile-picture.png"
    @imgAlt="Profile picture icon"
    @imgWidth="16"
    @imgHeight="16"
    @imgClass="profile-picture"
  />
</div>