<div id="more-menu" class="more-menu" style="{{this.menuStyle}}">
  <ul>
    <li>
      <LeftSidePanel::Link
        @linkRoute="index"
        @linkImgSrc="assets/svg/settings-icon.svg"
        @linkImgAlt="Settings icon"
        @linkText="Settings"
        width="16px"
      />
    </li>

    <li>
      <LeftSidePanel::Link
        @linkRoute="index"
        @linkImgSrc="assets/svg/dark-theme-icon.svg"
        @linkImgAlt="Switch theme icon"
        @linkText="Switch theme"
        width="16px"
      />
    </li>
  </ul>

  <span class="separator"></span>

  <ul>
    <li>
      <button type="button">
        <span>Exit</span>
      </button>
    </li>
  </ul>
</div>

<button
  id="more-button"
  type="button"
  class="item more"
  {{on "click" this.toggleMenu}}
>
  <img src="/assets/svg/burger-icon.svg" alt="More icon" ...attributes />
  <span>{{@text}}</span>
</button>