@import "variables";

:root {
  --primary-color: var(--dark-primary-color);
  --secondary-color: var(--dark-secondary-color);
  --tertiary-color: var(--dark-tertiary-color);
  --quaternary-color: var(--dark-quaternary-color);
  --color: var(--dark-color);
  --filter: var(--dark-filter);
  --dark-primary-color: black;
  --dark-secondary-color: #262626;
  --dark-tertiary-color: #353535;
  --dark-quaternary-color: #3c3c3c;
  --dark-color: white;
  --dark-filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(77deg)
    brightness(114%) contrast(101%);
  --light-primary-color: white;
  --light-secondary-color: #f2f2f2;
  --light-tertiary-color: #dbdbdb;
  --light-quaternary-color: #dbdbdb;
  --light-color: black;
  --light-filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(143deg)
    brightness(91%) contrast(112%);
}

* {
  color: var(--color);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}

.app-body {
  display: flex;
  height: 100%;

  @media (min-width: $min-breakpoint-desktop) {
    flex-direction: row;
  }

  @media (min-width: $min-breakpoint-tablet) and (max-width: $max-breakpoint-tablet) {
    flex-direction: row;
  }

  @media (max-width: $max-breakpoint-mobile) {
    flex-direction: column;
  }
}

.svg-img {
  filter: var(--filter);
}

.item {
  cursor: pointer;
}

.left-side-panel {
  display: flex;
  box-sizing: border-box;

  @media (min-width: $min-breakpoint-desktop) {
    flex-direction: column;
    height: 100%;
    width: 220px;
    gap: 12px;
    padding: 40px 12px 20px;
    border-right: 1px solid var(--secondary-color);
  }

  @media (min-width: $min-breakpoint-tablet) and (max-width: $max-breakpoint-tablet) {
    flex-direction: column;
    height: 100%;
    width: 60px;
    gap: 12px;
    padding: 40px 12px 20px;
    border-right: 1px solid var(--secondary-color);
    align-items: center;
  }

  @media (max-width: $max-breakpoint-mobile) {
    height: max-content;
    width: 100%;
    order: 1;
    flex-direction: row;
    border-top: 1px solid var(--secondary-color);
    justify-content: space-around;
  }

  .item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
    align-items: center;
    font-size: 16px;
    border-radius: 5px;
    text-wrap: nowrap;

    @media (min-width: $min-breakpoint-desktop) {
      padding: 5px;
      padding-left: 10px;
    }

    @media (min-width: $min-breakpoint-tablet) and (max-width: $max-breakpoint-tablet) {
      padding: 5px;
    }

    @media (max-width: $max-breakpoint-mobile) {
      padding: 8px 0;
    }
  }

  .item:first-child {
    @media (min-width: $min-breakpoint-desktop) {
      margin-bottom: 30px;
    }

    @media (min-width: $min-breakpoint-tablet) and (max-width: $max-breakpoint-tablet) {
      margin-bottom: 30px;
    }

    @media (max-width: $max-breakpoint-mobile) {
      margin-bottom: 0;
    }
  }

  .item:hover:not(:first-child) {
    @media (min-width: $min-breakpoint-desktop) {
      background-color: var(--secondary-color);
    }
  }

  .more {
    margin-top: auto;
  }

  .pop-up {
    background-color: var(--secondary-color);
    border-radius: 10px;
    z-index: 1000;
    position: fixed;
    margin-top: auto;
    visibility: hidden;

    .item {
      margin: 5px;
      padding: 10px;
      padding-right: 40px;
      font-size: 14px;
      width: auto;
    }

    .item:hover {
      background-color: var(--quaternary-color);
      cursor: pointer;
    }

    .item:not(:last-child) {
      margin-bottom: 10px;
    }

    .separator {
      display: flex;
      border: 2px solid var(--tertiary-color);
    }
  }

  .pop-up.visible {
    visibility: visible;
  }
}

.page {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profile-picture {
  border-radius: 50%;
}

.publications {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 470px;

  .separator {
    display: flex;
    border: 1px solid var(--tertiary-color);
  }

  .publication {
    width: 100%;

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 0;
      gap: 10px;
      font-size: 16px;
    }

    .body img {
      width: 100%;
      height: auto;
    }

    .footer {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .interactions {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        padding-top: 10px;

        button:last-child {
          margin-left: auto;
        }
      }
    }
  }
}

.skeleton {
  .profile-picture {
    width: 32px;
    height: 32px;
  }

  .text {
    width: 50px;
    height: 16px;
  }

  .media {
    width: 470px;
    height: 470px;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .text {
      width: 400px;
      height: 16px;
    }
  }
}

.shimmer {
  background: linear-gradient(-45deg, #d4d4d4 40%, #ffffff 50%, #d4d4d4 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}

.hide {
  display: none;
}
