<div class="publication">
  <div class="header">
    <img
      class="profile-picture"
      src="assets/png/profile-picture.png"
      alt="Profile picture"
      width="32"
      height="32"
    />
    <span>{{@accountName}}</span>
    <span>{{@publicationAge}}</span>
    <img />
  </div>
  <div class="body">
    <img src="assets/png/profile-picture.png" alt="Publication" />
  </div>
  <div class="footer">
    <div class="interactions">
      <img
        class="svg-img"
        src="assets/svg/like-icon.svg"
        alt="Like icon"
        width="24"
        height="24"
      />
      <img
        class="svg-img"
        src="assets/svg/comment-icon.svg"
        alt="Comment icon"
        width="24"
        height="24"
      />
      <img
        class="svg-img"
        src="assets/svg/send-icon.svg"
        alt="Send icon"
        width="24"
        height="24"
      />
      <img
        class="svg-img"
        src="assets/svg/bookmark-icon.svg"
        alt="Bookmark icon"
        width="24"
        height="24"
      />
    </div>
    <div class="reactions">
      <span>{{@nLikes}} likes</span>
    </div>
    <div class="description">
      <span>{{@description}}</span>
    </div>
  </div>
</div>