<div class="publication skeleton">
  <div class="header">
    <div class="profile-picture shimmer" />
    <span class="text shimmer" />
    <span class="text shimmer" />
  </div>
  <div class="body">
    <div class="media shimmer" />
  </div>
  <div class="footer">
    <div class="reactions">
      <span class="text shimmer" />
    </div>
    <div class="description">
      <span class="text shimmer" />
      <span class="text shimmer" />
    </div>
  </div>
</div>